In [1]:
import pandas

In [2]:
df = pandas.read_csv("US1.csv")

In [3]:
df

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,A-49996,4,2016-10-30 06:45:46,2016-10-30 12:45:46,26.811625,-80.097989,26.841020,-80.102609,2.051,Closed between Northlake Blvd/Exit 77 and SR-7...,...,False,False,False,False,False,False,Night,Night,Day,Day
49996,A-49997,4,2016-10-30 06:45:46,2016-10-30 12:45:46,26.843520,-80.104600,26.813476,-80.098210,2.113,Closed between SR-786/PGA Blvd/Exit 79 and Nor...,...,False,False,False,False,False,False,Night,Night,Day,Day
49997,A-49998,3,2016-10-30 07:52:25,2016-10-30 13:52:25,25.925300,-80.281799,25.925320,-80.271160,0.661,At SR-847/47th Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
49998,A-49999,3,2016-10-30 06:56:08,2016-10-30 12:56:08,41.875230,-87.693760,41.875350,-87.680570,0.679,At Oakley BLV/Western Ave/Exit 27C - Accident.,...,False,False,False,False,True,False,Night,Day,Day,Day
49999,A-50000,2,2016-10-30 05:16:37,2016-10-30 12:16:37,41.845950,-87.991990,41.845950,-87.991990,0.000,At 22nd St - Accident.,...,False,False,False,False,True,False,Night,Night,Night,Night

In [4]:
# note :change type of feature with map()

In [7]:
# just an overview to work with pandas: